

/* reset */

* {
    margin: o;
    box-sizing: border-box;
    list-style: none;
}


.container-1200 {
    margin: 0 auto;
    max-width: 800px;

}

/* header */

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 0px 8px 0px 8px;
    z-index: 10000;
}

#text-hero {
    width: 40%;

}

#img-hero {
    width: 60%;
    
}

#img-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 500px;
}

#hero {
    background-color: var(--color-bg-hero);
    padding-top: 40px;
}

#img-hero {
    width: 100px;
    
}

.hero-position {
    position: relative;
    top: 40px;
}

a {
    display: inline-block;
    margin-top: 15px;
}

#text-hero:last-child {
    margin-top: 40px;

}

/* main */

main {
    padding-top: 40px;
}

/* sezione operazioni */

.operazioni {
    width: calc(100% / 3);
}


/* link */

.link-blue {
    background-color: var(--color-button);
    color: white;
    padding: 7px;
}

/* colori */

:root {
	--color-bg-hero: #b4d0e7;
	--color-block-darkblue: #0d2481;
	--color-block-darkred: #d5001f;
	--color-bg-footer: #000000;
	--color-block-lightred: #ff1c1c;
	--color-block-yellow: #ffd830;
	--color-button: #0061ff;
	--color-mainblock: #f5f5f5;
	--color-block-lightgreen: #a2d39b;
	--color-block-lightblue: #0093ce;
	--color-text: #000000;
}

/* utility flex */

.d-flex {
    display: flex;
    
}

.justify-between {
    justify-content: space-between;
    justify-items: space-between;
}

.d-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-items: start;
}

.self-end {
    align-self: flex-end;
}

.align-center {
    align-items: center;
}

.gap {
    gap: 8px;
}

.flex-wrap {
    flex-wrap: wrap;
}